Repository DocSpring/chat_to_map_desktop: changes, and which lefthook commands are due for each by the changed paths.
All: biome-format, biome-lint, typecheck, duplication, knip, biome-ignores, rust-fmt, rust-clippy

biome-format:
  run: bunx biome format --write {staged_files}
  stage_fixed: true

biome-lint:
  run: bunx biome check --write {staged_files}
  stage_fixed: true

typecheck:
  run: bunx tsc --noEmit

duplication:
  run: bunx jscpd src/

knip:
  run: bunx knip

biome-ignores:
  run: "if grep -l \"biome-ignore\" {staged_files} 2>/dev/null; then\n  echo \"‚ùå Found biome-ignore comments in staged files - these are forbidden!\"\n  exit 1\nfi\n"

rust-fmt:
  run: cargo fmt -- --check

rust-clippy:
  run: cargo clippy --all-targets --all-features -- -D warnings

Build Windows as portable exe instead of installer
  .github/workflows/release.yml
Due: none

Fix biome lint: use for...of instead of forEach
  src/main.ts
Due: biome-format, typecheck, duplication, knip, biome-ignores

Fix Windows exe path: binary is chat-to-map-desktop.exe
  .github/workflows/release.yml
Due: none

Simplify release notes for dmg/exe usage
  .github/workflows/release.yml
Due: none

Rewrite upload client for Convex backend with HMAC auth
  scripts/check_openapi_sync.sh
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/openapi.json
  src-tauri/src/api.rs
  src-tauri/src/main.rs
  src-tauri/src/upload.rs
Due: biome-format, rust-fmt, rust-clippy

Fix CI: pin knip to npm release, bump deprecated GitHub actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  bun.lock
  package.json
Due: biome-format

Fix clippy unnecessary_sort_by lints from Rust 1.95
  src-tauri/src/export.rs
  src-tauri/src/lib.rs
Due: rust-fmt, rust-clippy

Fix FDA detection: skip exists() pre-check that short-circuits on TCC
  src-tauri/src/main.rs
  src/index.html
Due: rust-fmt, rust-clippy

Wire desktop to Convex prod URLs + system locale + Start Over button
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/api.rs
  src-tauri/src/debug_commands.rs
  src-tauri/src/main.rs
  src-tauri/src/upload.rs
  src/debug.ts
  src/index.html
  src/main.ts
Due: biome-format, typecheck, duplication, knip, biome-ignores, rust-fmt, rust-clippy

Use resolved chat name + send participant_count in export
  src-tauri/src/export.rs
Due: rust-fmt, rust-clippy

Added macOS unsigned binary note
  .github/workflows/release.yml
  README.md
Due: none

Path conditions:
  biome-format: any of: *.{ts,tsx,js,jsx,json}
  biome-lint: any of: src/**/*.{ts,tsx,js,jsx}
  typecheck: any of: *.{ts,tsx}
  duplication: any of: *.{ts,tsx}
  knip: any of: *.{ts,tsx}
  biome-ignores: any of: *.{ts,tsx}
  rust-fmt: any of: *.rs and ^src\-tauri/
  rust-clippy: any of: *.rs and ^src\-tauri/
